{% load static %}
<footer>
    <div class="main">
        <ul class="soc-list">
            <li><a href="#"><img alt="" src="{% static 'images/icon-1.png' %}"></a></li>
            <li><a href="#"><img alt="" src="{% static 'images/icon-2.png' %}"></a></li>
            <li><a href="#"><img alt="" src="{% static 'images/icon-3.png' %}"></a></li>
            <li><a href="#"><img alt="" src="{% static 'images/icon-4.png' %}"></a></li>
        </ul>
        <div class="policy">Website Template designed by <a href="http://www.templatemonster.com"
                rel="nofollow">TemplateMonster.com</a> </div>
        <div class="clear"></div>
    </div>
</footer>
