{% extends "posts/base.html" %}
{% load static %}
{% block content %}
<section id="content">
     <div class="ic">Eduard Khiaev</div>
     <div class="border-horiz"></div>
     <div class="container_12">
          <article class="grid_4">
               <h3>סרגל צד</h3>
               <ul class="list-popular">
                    <li> <a href="#">קטגוריות</a>
                         <p>
                              {% for category in categories %}
                              {{category}}
                              <br>
                              {% endfor %}
                         </p>
                    </li>
                    <li> <a href="#">טכניקות בישול</a>
                         <p>
                              {% for technique in techniques %}
                              {{technique}}
                              <br>
                              {% endfor %}
                         </p>
                    </li>
                    <a href="#">זמנים</a>
                    <p>
                         הכנה {{ recipe.prep_time }} <br>
                         בישול {{ recipe.cook_time }}
                    </p>
                    </li>
                    <li> <a href="#">מצרכים</a>
                         <p>
                              {% for ingredient in ingredients %}
                              {% if ingredient.name %} {{ingredient.name}} {% endif %}
                              {% if ingredient.quantity %} {{ingredient.quantity|floatformat}} {% endif %}
                              {% if ingredient.extention %} {{ingredient.extention}} {% endif %}
                              <br>
                              {% endfor %}
                         </p>
                    </li>
               </ul>
          </article>
          <article class="grid_8">
               <h3>{{ recipe.title }}</h3>
               <blockquote class="quote-1">{{recipe.preface|linebreaks}}</blockquote>
               <div class="name-author">
                    {% if recipe.author.get_full_name %} {{recipe.author.get_full_name}}
                    {% else %}
                    {{recipe.author}}
                    {% endif %}
               </div>
               <p>{{ recipe.Instructions|linebreaks }}</p>
          </article>
          <div class="clear"></div>
     </div>
</section>
<section id="content">
     <ul>

          <li> {{ recipe.difficulty }} </li>
          <li> {{ recipe.image.url }} </li>
          <li> {{ recipe.publish_date }} </li>
          <li> {{ recipe.timestamp }} </li>
          <li> {{ recipe.updated }} </li>
          <br>
     </ul>
</section>
{% endblock %}
