{% load static %}
<header>
    <div class="line-top"></div>
    <div class="main">
        <div class="row-top">
            <h1><a href="index.html"><img alt="" src="{% static 'images/logo.png' %}"></a></h1>
            <nav>
                <ul class="sf-menu">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="index-1.html">Courses </a> </li>
                    <li><a href="index-2.html">Recipes</a>
                        <ul>
                            <li><a href="#">dolores et</a></li>
                            <li><a href="#">lorem ipsum dolo </a>
                            <li><a href="#">sanctus est</a></li>
                        </ul>
                    </li>
                    <li><a href="index-3.html">Calendar</a> </li>
                    <li><a href="index-4.html">Chefs</a> </li>
                    <li><a href="index-5.html">Contacts</a> </li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div>
    </div>
    <div class="box-slider">
        <div class="flexslider">
            <ul class="slides">
                <li> <img alt="" src="{% static 'images/slide-1.jpg' %}"></li>
                <li> <img alt="" src="{% static 'images/slide-2.jpg' %}"></li>
            </ul>
        </div>
    </div>
    <div class="box-slogan">
        <h3>Welcome to Gourmet cooking school!</h3>
        <p> At vero eos et <a href="#" class="link-1">accusam et</a> justo duo dolores et ea rebum. Stet clita kasd
            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit amet. </p>
    </div>
</header>
