{% load static %}
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}" type="text/css" media="screen">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen">
    <!--js-->
    <script type="text/javascript" src="{% static 'js/jquery-1.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/superfish.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>

    <script>
        jQuery(window).load(function () {
            jQuery('.flexslider').flexslider({
                animation: "fade",
                slideshow: true,
                slideshowSpeed: 7000,
                animationDuration: 600,
                prevText: "",
                nextText: "",
                controlNav: false
            })



        });
    </script>

</head>
